/* @override http://wf.persofolio.dev/css/styles.css */

/* @override http://wf.persofolio.dev/css/styles.css */

/* @override http://wf.persofolio.dev/css/styles.css */

.left {
	float: left;
}

.right {
	float: right;
}

.headermain {
    margin: 40px 0 0 0;
    padding: 0;
    /*border-bottom:1px solid #b3b7ba;*/
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.headermain .nav {
    float: left;
    border-bottom: none;
}

.headermain span {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 11px;
    color: #25737f;
}


/* for save container */

.save_container {
    margin-top: 50px;
    width: 700px;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    background-color: #e1e9f6;
    overflow: hidden;
    border-top: 1px solid white;
    clear: both;
}

	.save_container .btn {
	    text-shadow: none !important;
	}
	
	.save_container .disabled {
		background-color: #373c40 !important;
	}

.other_borders {
    border-radius: 10px !important;
}

.save_content {
    margin: 5px;
    float: right;
}

/* for callsheet */

#callsheet_wrap {
	margin-top: 20px !important;
	width: 700px;
	margin: 0 auto;
}

#callsheet_table_wrap {
	background-color: #bde1fb;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-bottom: 20px;
	margin-top: 20px;
	
}

	#callsheet_table_wrap th {
		background-color: #858f91;
		color: white;
		font-size: 13px;
	}
	
	#callsheet_table_wrap table {
		background-color: #E5F3FC;
	}
	
	#callsheet_table_wrap .table {
		margin-bottom: 20px;
		border-bottom: 1px solid white;
	}
	
	#callsheet_table_wrap table tr td {
		border: none !important;
	}
	
.callsheet {
	background-color: #E5F3FC;
	padding: 10px 5px;
}	

	.callsheet .form-horizontal {
		margin-bottom: 0;
	}
	
	.callsheet .control-group {
		margin-bottom: 10px !important;
	}
	
	.callsheet .control-label {
		font-weight: bold;
	}
	
/* for unavailable */

#unavailable_wrap {
	width: 700px;
	margin: 20px auto 0 auto;
}

	#unavailable_wrap .form-horizontal {
		margin-bottom: 0;
		padding-bottom: 15px;
	}

	#unavailable_wrap label {
		font-weight: bold;
	}

#unavailable_container {
	padding: 10px 5px;
	background-color: #E5F3FC;
}

	#unavailable_container .control-group {
		margin-bottom: 0;
	}

#unavailable_table_wrap {
	margin-top: 15px;
	padding-bottom: 20px;
	background-color: #bde1fb;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 20px;
}

	#unavailable_table_wrap th {
		background-color: #858f91;
		color: white;
		font-size: 13px;
	}
	
	#unavailable_table_wrap table {
		background-color: #E5F3FC;
		border-bottom: 1px solid white;
	}
	
	#unavailable_table_wrap table td {
		border: none;
	}
	
#unavailable_notes {
	float: left;
	overflow: hidden;
}	

#unavailable_time_wrap {
	float: left;
}


/* for invoice */

/********************************
***** Imported Invoice styles ***
********************************/

.ac_invoice_it_ex {
    background: none;
    float: left;
    height: auto;
    margin: 15px 0 10px;
    overflow: hidden;
    padding: 0;
    width: 700px;
    color: #26727F;
    font-family: lucida grande, helvetica;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #CAE5FA;

}

.invoice_items {
    /*background: url("/assets/invoice__item_back.png") repeat scroll 0 0 transparent;*/
    background: #e5f3fc url('/assets/item_tab.png') no-repeat right center;
    float: left;
    height: 21px;
    margin: 0 10px 0 0;
    overflow: hidden;
    padding: 0 0 0 10px;
    width: 90px;
}

.invoice_items_selected {
    /*background: url("/assets/invoice__item_back.png") repeat scroll 0 0 transparent;*/
    background: #cee7fb url('/assets/item_tab_active.png') no-repeat right center;
    float: left;
    height: 21px;
    margin: 0 10px 0 0;
    overflow: hidden;
    padding: 0 0 0 10px;
    width: 80px;
}

.invoice_expenses {
    /*background: url("/assets/invoice_expenses_back.png") repeat scroll 0 0 transparent;*/
    background: #e5f3fc url('/assets/exp_tab.png') no-repeat left center;
    float: left;
    height: 21px;
    margin: 0;
    overflow: hidden;
    padding: 0 10px 0 0;
    width: 90px;
    text-align: right;
}

.invoice_expenses_selected {
    /*background: url("/assets/invoice_expenses_back.png") repeat scroll 0 0 transparent;*/
    background: #cee7fb url('/assets/exp_tab_active.png') no-repeat left center;
    float: left;
    height: 21px;
    margin: 0;
    overflow: hidden;
    padding: 0 10px 0 0;
    width: 100px;
    text-align: right;
}

.invoice_navi_menu {
    height: auto;
    padding: 1px 0 4px;
    margin: 0;
    width: 685px;
    background: none;
    float: left;
}


.activity_navi_menu {
    height: auto;
    padding: 0;
    margin: 0;
    /*width: 500px;*/
    float: left;
}

.activity_navi_menu ul {
    padding: 0;
    margin: 0;
    overflow: hidden

}

.activity_navi_menu ul li {
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 5px 0 9px;

}

.activity_navi_menu ul li a {
    padding: 0 5px;
    margin: 0;
    text-decoration: none;
    color: #1d585e;

}

/*****************
***** Expenses ***
*****************/

#exp_wrap {
	width: 700px;
	margin: 0 auto;
	padding: 10px 0;
}

#exp_report_table_wrap {
	background-color: #bde1fb;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-bottom: 20px;
	margin-top: 20px;
}

	#exp_report_table_wrap .table {
		border-bottom: 1px solid white;
		background-color: #E5F3FC;
	} 
	
	#exp_report_table_wrap th {
		background-color: #858f91;
		color: white;
		font-size: 13px;
	}
	
	#exp_report_table_wrap tr td {
		border: none;
		font-size: 12px;
	}
	
.activity_navi_menu a:hover {
	text-decoration: underline;
}    
    
.exp_report_description {
	text-align: left !important;
	float: left;
}

	.exp_report_description p {
		padding-top: 0 !important;
		text-align: left !important;
	}
	
	.exp_report_description p strong {
		font-size: 14px !important;
	}

/* for  expense report options */

#exp_wrap p {
	float: left;
	padding-top: 10px;
}

#exp_rep_options_content {
	float: left;
	width: 700px;
	padding: 25px 0;
	/*margin-top: 25px;
	margin-bottom: 25px;*/
}

	#exp_rep_options_content label {
		font-weight: bold;
	}

	#exp_rep_options_content .controls-row label {
		float: left;
		margin: 5px 5px 5px 0;
		font-weight: normal;
	}
	
	#exp_rep_options_content .controls-row .span1 {
		margin-right: 5px;
	}

.exp_report_description a {
	float: left;
}

/* for add expense report */

.add_ex_rep_info_container {
	overflow: hidden;
	border-top: 15px solid #858f91;
	padding: 10px 0;
	background-color: #E5F3FC;
	border-bottom: 25px solid #bde1fb;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

	.add_ex_rep_info_container form {
		margin-bottom: 0;
		overflow: hidden;
		padding: 5px 0;
	}
	
	.add_ex_rep_info_container form fieldset {
		float: left;
		padding: 0 10px;
	}
	
	.add_ex_rep_info_container form label {
		font-weight: bold;
		font-size: 13px;
	}
	
.add_ex_rep_info_fieldset_final .control-group {
		margin-bottom: 0;
		padding-top: 75px;
}	

.add_exp_rep_info_extra {
	float: right;
}

	.add_exp_rep_info_extra form p {
		padding-top: 5px !important;
	}
	
	.add_exp_rep_info_extra fieldset {
		margin: 10px 25px 10px 0;
	}
	
	.add_exp_rep_info_extra fieldset .control-group {
		margin-bottom: 5px;
	}
	
.save_container p {
	margin-left: 20px;
}

.add_reg_or_milage {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

	.add_reg_or_milage li {
		list-style-type: none;
		float: left;
		padding: 0 5px;
	}

/* for print invoice/expenses */

#print_exp_wrap {
	width: 700px;
	margin: 0 auto;
	padding-bottom: 50px;
}

	#print_exp_wrap th {
		background-color: #858f91;
		color: white;
		font-size: 13px;
	}
	
.print_exp_transport {
	font-size: 13px;
}	
	
.print_exp_transport table td {
	border: none;
	background-color: #E5F3FC;
}

.print_exp_table {
	width: 400px;
	float: left;
	margin-top: 10px;
}

	.print_exp_table table td {
		border: none;
		font-size: 13px;
	}

.print_exp_top ul {
	overflow: hidden;
	margin-left: 0;
	margin-top: 5px;
}

	.print_exp_top ul li {
		list-style-type: none;
		float: left;
		padding-right: 10px;
	}
	
.print_exp_result_info {
	width: 350px;
	float: right;
	font-size: 13px;
}

	.print_exp_result_info table td {
		border: none;
	}

.print_exp_sort {
	font-size: 13px;
}

	.print_exp_sort table td {
		border: none;
		background-color: #E5F3FC;
	}
	
#print_exp_sig {
	margin-top: 100px;
	width: 400px;
}

.sig_exp {
	padding-top: 10px;
	padding-bottom: 50px;
	border-top: 1px solid black;
}

	.sig_exp span:last-child {
		float: right;
	}
	
.approve_sig_exp {
	padding-top: 10px;
	border-top: 1px solid black;
}

	.approve_sig_exp span:last-child {
		float: right;
	}
/* end invoice */


/* for tasks */

#tasks_wrap {
	width: 700px;
	margin: 0 auto;
	overflow: hidden;
}
	

/***** view task *****/

#tasks_top_form {
	overflow: hidden;
	padding: 5px 0;
	margin-top: 20px;
}

	#tasks_top_form form {
		overflow: hidden;
		margin-bottom: 5px;
	}
	
	#tasks_top_form form div {
		padding-right: 10px;
	}
	
		#tasks_top_form form div i {
			padding: 5px 0;
		}
	
	#tasks_top_form form div label {
		padding-right: 5px;
		font-weight: bold;
		font-size: 13px;
	}

.tasks_top ul {
	overflow: hidden;
	margin-left: 0;
}

	.tasks_top ul li {
		float: left;
		padding: 5px 5px 5px 0;
		list-style-type: none;
	}
	
#tasks_table_wrap {
	background-color: #E5F3FC;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
	#tasks_table_wrap th {
		background-color: #858f91;
		color: white;
		font-size: 13px;
	}
	
	#tasks_table_wrap .table td {
		border: none;
	}
	
#tasks_quick_add {
	overflow: hidden;
	background-color: #c3e3fa;
	padding: 3px;
}

	#tasks_quick_add p {
		margin-bottom: 0;
		padding: 5px;
	}

	#tasks_quick_add form {
		overflow: hidden;
		margin-bottom: 0;
		background-color: #e4f2fb;
		padding: 10px;
	}
	
	#tasks_quick_add form div {
		padding-right: 10px;
	}
	
		#tasks_quick_add form div i {
			padding: 5px 0;
		}
	
	#tasks_quick_add form div label {
		padding-right: 5px;
		font-weight: bold;
		font-size: 13px;
	}

/* end tasks */

/* account manager begin */

/* for agent config */


/* account manager end */
